
/MoteurRecherche/build.xml
/MoteurRecherche/index
/MoteurRecherche/index_index
/MoteurRecherche/index_inverted
/MoteurRecherche/manifest.mf
/MoteurRecherche/nbproject
/MoteurRecherche/test
/MoteurRecherche/lib

TME*/*.class
TM*/*.class

